
  /deep/ .article{
   h1,h2,h3,h4,h5,h6{
        font-weight: bold;
        margin: 10px 0;
    }
    h1{
        font-size: 48px;
    }
    h2{
        font-size: 44px;
    }
    h3{
        font-size: 40px;
    }
    h4{
        font-size: 36px;
    }
    h5{
        font-size: 32px;
    }
    h6{
        font-size: 28px;
    }
    p{
        font-size: 16px;
        margin: 15px 0;
    }
    a{
        font-size: 16px;
        color: #666;
        border-bottom: 1px solid #666;
        &:active{
            color:#23241f ;
        }
    }
    blockquote{
        position: relative;
        line-height: 1.5;
        margin: 0;
        padding: 5px 0 5px 20px;
        background-color: rgba(238,238,238,.3);
        margin: 10px 0;
        &::after{
            content: '';
            height: 100%;
            width: 5px;
            background-color: #49b1f5;
            position: absolute;
            left: 0px;
            top: 0;
        }
    }

    ol{
        list-style: decimal;
        margin-left: 18px;
    }
    ul{
        list-style: disc;
        margin-left: 18px;
    }
    li{
        margin: 5px 0;
    }
    pre{
        border-radius: 5px;
        padding: 10px 20px;
        line-height: 2;
        background-color: #23241f;
        color: #fff;
    }
}